body {
	margin: 0;
	padding: 0;
	background-color: #17a2b8;
	height: 100vh;
  }
  #ChangePassword .container #ChangePassword-row #ChangePassword-column #ChangePassword-box {
	margin-top: 75px;
	max-width: 600px;
	border: 1px solid #9C9C9C;
	background-color: #EAEAEA;
  }
  #ChangePassword .container #ChangePassword-row #ChangePassword-column #ChangePassword-box #ChangePassword-form {
	padding: 20px;
  }
  #ChangePassword .container #ChangePassword-row #ChangePassword-column #ChangePassword-box #ChangePassword-form #register-link {
	margin-top: -85px;
  }
  
  #ChangePassword-header {
	  margin-top: 25px;
  }