@font-face {
	font-family: 'iransansfanum';
	src: url('../fonts/IRANSansWeb/IRANSansWebFaNum_Light.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: IRANSans;
	font-style: normal;
	font-weight: 900;
	src: url('../fonts/IRANSansWeb/eot/IRANSansWeb_Black.eot');
	src: url('../fonts/IRANSansWeb/eot/IRANSansWeb_Black.eot?#iefix') format('embedded-opentype'), /* IE6-8 */ url('../fonts/IRANSansWeb/woff2/IRANSansWeb_Black.woff2') format('woff2'), /* FF39+,Chrome36+, Opera24+*/ url('../fonts/IRANSansWeb/woff/IRANSansWeb_Black.woff') format('woff'), /* FF3.6+, IE9, Chrome6+, Saf5.1+*/ url('../fonts/IRANSansWeb/ttf/IRANSansWeb_Black.ttf') format('truetype');
}

@font-face {
	font-family: IRANSans;
	font-style: normal;
	font-weight: bold;
	src: url('../fonts/IRANSansWeb/eot/IRANSansWeb_Bold.eot');
	src: url('../fonts/IRANSansWeb/eot/IRANSansWeb_Bold.eot?#iefix') format('embedded-opentype'), /* IE6-8 */ url('../fonts/IRANSansWeb/woff2/IRANSansWeb_Bold.woff2') format('woff2'), /* FF39+,Chrome36+, Opera24+*/ url('../fonts/IRANSansWeb/woff/IRANSansWeb_Bold.woff') format('woff'), /* FF3.6+, IE9, Chrome6+, Saf5.1+*/ url('../fonts/IRANSansWeb/ttf/IRANSansWeb_Bold.ttf') format('truetype');
}

@font-face {
	font-family: IRANSans;
	font-style: normal;
	font-weight: 500;
	src: url('../fonts/IRANSansWeb/eot/IRANSansWeb_Medium.eot');
	src: url('../fonts/IRANSansWeb/eot/IRANSansWeb_Medium.eot?#iefix') format('embedded-opentype'), /* IE6-8 */ url('../fonts/IRANSansWeb/woff2/IRANSansWeb_Medium.woff2') format('woff2'), /* FF39+,Chrome36+, Opera24+*/ url('../fonts/IRANSansWeb/woff/IRANSansWeb_Medium.woff') format('woff'), /* FF3.6+, IE9, Chrome6+, Saf5.1+*/ url('../fonts/IRANSansWeb/ttf/IRANSansWeb_Medium.ttf') format('truetype');
}

@font-face {
	font-family: IRANSans;
	font-style: normal;
	font-weight: 300;
	src: url('../fonts/IRANSansWeb/eot/IRANSansWeb_Light.eot');
	src: url('../fonts/IRANSansWeb/eot/IRANSansWeb_Light.eot?#iefix') format('embedded-opentype'), /* IE6-8 */ url('../fonts/IRANSansWeb/woff2/IRANSansWeb_Light.woff2') format('woff2'), /* FF39+,Chrome36+, Opera24+*/ url('../fonts/IRANSansWeb/woff/IRANSansWeb_Light.woff') format('woff'), /* FF3.6+, IE9, Chrome6+, Saf5.1+*/ url('../fonts/IRANSansWeb/ttf/IRANSansWeb_Light.ttf') format('truetype');
}

@font-face {
	font-family: IRANSans;
	font-style: normal;
	font-weight: 200;
	src: url('../fonts/IRANSansWeb/eot/IRANSansWeb_UltraLight.eot');
	src: url('../fonts/IRANSansWeb/eot/IRANSansWeb_UltraLight.eot?#iefix') format('embedded-opentype'), /* IE6-8 */ url('../fonts/IRANSansWeb/woff2/IRANSansWeb_UltraLight.woff2') format('woff2'), /* FF39+,Chrome36+, Opera24+*/ url('../fonts/IRANSansWeb/woff/IRANSansWeb_UltraLight.woff') format('woff'), /* FF3.6+, IE9, Chrome6+, Saf5.1+*/ url('../fonts/IRANSansWeb/ttf/IRANSansWeb_UltraLight.ttf') format('truetype');
}

@font-face {
	font-family: IRANSans;
	font-style: normal;
	font-weight: normal;
	src: url('../fonts/IRANSansWeb/eot/IRANSansWeb.eot');
	src: url('../fonts/IRANSansWeb/eot/IRANSansWeb.eot?#iefix') format('embedded-opentype'), /* IE6-8 */ url('../fonts/IRANSansWeb/woff2/IRANSansWeb.woff2') format('woff2'), /* FF39+,Chrome36+, Opera24+*/ url('../fonts/IRANSansWeb/woff/IRANSansWeb.woff') format('woff'), /* FF3.6+, IE9, Chrome6+, Saf5.1+*/ url('../fonts/IRANSansWeb/ttf/IRANSansWeb.ttf') format('truetype');
}

@font-face {
	font-family: IRANSansWebFaNum;
	font-style: normal;
	font-weight: normal;
	src: url('../fonts/IRANSansWeb/eot/IRANSansWebFaNum_Light.eot');
	src: url('../fonts/IRANSansWeb/eot/IRANSansWebFaNum_Light.eot?#iefix') format('embedded-opentype'), /* IE6-8 */ url('../fonts/IRANSansWeb/woff2/IRANSansWebFaNum_Light.woff2') format('woff2'), /* FF39+,Chrome36+, Opera24+*/ url('../fonts/IRANSansWeb/woff/IRANSansWebFaNum_Light.woff') format('woff'), /* FF3.6+, IE9, Chrome6+, Saf5.1+*/ url('../fonts/IRANSansWeb/ttf/IRANSansWebFaNum_Light.ttf') format('truetype');
}

*{
	font-family: IRANSans;
}
/******************* New UI ********************/
html {
	width: 100%;
	height: 100%;
}
body {
	height: 100%;
	font-size: 13px !important;
	color: #34495e !important;
	background: #F1F1F1 !important;
}
.login-container {
	width: 100%;
	height: 100%;
	display: flex;
	align-items: center;
}
.login-title {
	background-color: #5fa2dd;
	display: flex;
	justify-content: center;
	color: #34495e;
	padding: 7px 0;
	border-radius: 5px 5px 0 0;
	font-weight: bold;
	font-size: 15px;
}

.inputs-container {
	display: flex;
	flex-direction: column;
	background-color: white;
	padding: 10px 10px 20px 10px;
}

.input-wrapper {
	display: flex;
	width: 100%;
	justify-content: space-between;
	align-items: center;
	margin-top: 10px;
	font-size: 15px;
}
.input-wrapper input{
	width: 75%;
}
.button-container {
	display: flex;
	justify-content: center;
	padding:0 10px;
	background-color: #fff;
	border-radius: 0 0 5px 5px;

}
.button-container input {
	margin-bottom: 20px;
	width:50%;
	padding: 7px 0;
	/* font-size: 17px; */

}

.login-info {
	margin-top: 10px;
}

.form {
	height: 500px !important;
}
/*****************************************************/

  #login .container #login-row #login-column #login-box {
	margin-top: 75px;
	max-width: 600px;
	border: 1px solid #9C9C9C;
	background-color: #EAEAEA;
  }
  #login .container #login-row #login-column #login-box #login-form {
	padding: 20px;
  }
  #login .container #login-row #login-column #login-box #login-form #register-link {
	margin-top: -85px;
  }
  
  #login-header {
	  margin-top: 25px;
  }

.table th {
	background: #5FA2DD;
}