a{color:#2aa2a2;text-decoration:none}
a:hover{color:#336699;text-decoration: underline}
td{font-size: 12px; font-family: Tahoma}
body{background-color:#17a2b8;font-family:Tahoma}
.navbar_sub{background-color:#c3efef;border-left:1px solid #FFFFFF; border-right:1px solid #FFFFFF; border-bottom:1px solid #FFFFFF}
.navbar_main{font-family:Tahoma; font-size:12px}
.navbar_title{color: #FF8A00; font-weight: bold}
