td{font-size:10pt; font-family: Tahoma}
.mnav{background-color:#F9E8DC;font-size: 10px}
.header{background-color:#FECAA6}
.EvenRow
{
		background-color: #efefef;  
}
.OddRow
{
		background-color: #ffffff; 
}
