html{height:100%}
.Accordion {overflow: hidden;}
.AccordionPanel {margin: 0px;padding: 0px; }
.AccordionPanelTab {direction:rtl;background:url(../images/hmenubg.jpg) no-repeat 100% 0;margin: 1px 0;padding:3px 20px 0 0;cursor: pointer;
	-moz-user-select: none;-khtml-user-select: none;height:22px;}
.AccordionPanelContent {overflow: hidden;margin: 0px;padding: 0px;height: 200px;}
.AccordionPanelOpen .AccordionPanelTab {}
.AccordionPanelTabHover {color: #555555;}
.AccordionPanelOpen .AccordionPanelTabHover {color: #555555;}
.AccordionFocused .AccordionPanelTab {background-color: #3399FF;}
.AccordionFocused .AccordionPanelOpen .AccordionPanelTab {background-color: #33CCFF;}
body{margin:auto;font:12px tahoma;background:#FFFFFF; width:100%; height:100%;}
td{font:12px tahoma;}
a{color:#474242; text-decoration:none}
a:hover{color:#790000; }
table.header{border-collapse:collapse; margin:auto; width:100%}
table.header td{vertical-align:bottom;background:#c5c5c5}
.header1{width:230px;margin:0;padding:0}
html>body .header1{width:230px}
.info{padding:5px 10px 5px 0;margin:0}
.vmenu{width:240px;padding-right:5px;border-left:1px #e4e4e4 solid;margin-top:0; vertical-align:top;height:100%; }
#news-container{margin:0;padding:0;border:0;width:230px; height:100%; overflow-x:hidden;overflow-y:auto}
html>body .vmenu{width:215px;}
html>body #news-container{width:230px;}
.Accordion{margin-top:5px}
.AccordionPanelContent ul{direction:rtl;padding-right:3px;margin:0;list-style-type:none; width:159px }
.AccordionPanelContent ul li a{color:#000000; text-decoration:none;display:block}
.AccordionPanelContent ul li{border-bottom:1px #bbbbbb solid;padding:4px 0}
#title-links{width:47px;float:right;padding:0;margin:0;}
.ullist{width:47px;padding:0;margin:0;}
.ullist li{list-style:none;display:inline;margin:10px 0}
#title-links a{color:#036;}
#title-links-wrapper{height:300px;background:#Fe4502;}
.first-title{text-decoration:none;color:#036;display:block;padding:0;background:url(../images/prof-ovr.gif) no-repeat; height:112px;}
.unselected-title{text-decoration:none;color:#036;display:block;border-left:1px #e4e4e4 solid;padding:0;}
.unselected-title1{text-decoration:none;color:#036;display:block;border-left:1px #e4e4e4 solid;padding:0;background:url(../images/prof.gif) no-repeat; height:112px;}
.unselected-title2{text-decoration:none;color:#036;display:block;border-left:1px #e4e4e4 solid;padding:0;background:url(../images/fumdabir.gif) no-repeat; height:112px;}
.unselected-title3{text-decoration:none;color:#036;display:block;border-left:1px #e4e4e4 solid;padding:0;background:url(../images/stu.gif) no-repeat; height:112px;}
.unselected-title4{text-decoration:none;color:#036;display:block;border-left:1px #e4e4e4 solid;padding:0;background:url(../images/stu.gif) no-repeat; height:112px;}
.remain-li{border-left:1px #e4e4e4 solid;}
.remain1-li{border-left:1px #e4e4e4 solid;height:10px;}
.selected-title{text-decoration:none;background:#FFF;display:block;padding:0;}
.selected-title1{text-decoration:none;display:block;padding:0;background:url(../images/prof-ovr.gif) no-repeat; height:112px; }
.selected-title2{text-decoration:none;display:block;padding:0;background:url(../images/fumdabir-ovr.gif) no-repeat; height:112px; }
.selected-title3{text-decoration:none;display:block;padding:0;background:url(../images/stu-ovr.gif) no-repeat; height:112px; }
.selected-title4{text-decoration:none;display:block;padding:0;background:url(../images/stu-ovr.gif) no-repeat; height:112px; }
#imglayer{width:167px;margin:0;padding:0 ;margin-right:0px; height:100%;}
html>body #imglayer{margin-right:50px;}
#imglayer div{}
.newscontblock{display:none;width:180px; height:100%; overflow-x:hidden;overflow-y:scroll; padding:0 ; position:fixed;}
html>body .newscontblock{width:180px}
.bottom-table{border-collapse:collapse; margin:auto; background:#FFFFFF; width:100%; height:100%}
.maincontent{vertical-align:top;padding:30px 0 0 0;padding-left:0;height:100%; width:77%; }
.triboxes {border:0 none;height:57px;margin:10px 0 0 13px;padding:0;width:705px;}
.tribox1 {background-image:url(../images/littleboxbg.jpg);background-position:left bottom;background-repeat:no-repeat;border:1px solid #C3C3C3;float:left;height:59px;margin:0;padding:0;width:230px;}
.triboxitems {border:0 none;height:57px;margin:0;padding:0;}
.triboximage {border:0 none;float:right;height:48px;margin:5px 10px 0 0;padding:0;width:48px;}
.tribox1 a {color:#0089FE;font-size:9pt;font-weight:bold;}
.triboxtext {border:0 none;float:right;height:50px;margin:5px 10px 0 0;padding:7px 0 0;width:160px;}
.triboxtexttitle {color:#920001;font-weight:bold;text-decoration:none;}
.triboxtexttitle a{color:#920001;text-decoration:none;}
.triboxtextowner {font-size:95%;}
.triboxtexttotal {font-size:95%;font-weight:700;}
.tribox2 {background-image:url(../images/littleboxbg.jpg);background-position:left bottom;background-repeat:no-repeat;border:1px solid #C3C3C3;float:right;height:59px;margin:0 0 0 4px;padding:0;width:230px;}
.triboxtexttitle {color:#0089FE;font-weight:bold;text-decoration:none;}
.triboxitems:hover{background:#f2f2f2}
.title {font-weight:bold;height:19px;margin:13px 0;padding:3px 10px 0 0;width:695px;}
.sepr{background:url(../images/borderDown.gif) repeat-x;height:5px;width:91%;margin:5px 0 20px 0}
.post ul{line-height:1.3em;list-style-image:none;list-style-position:outside;list-style-type:none;direction:rtl;margin-right:3px;padding-right:3px;width:700px}
.post ul li{background:transparent url(../images/img_icon_plus.png) no-repeat scroll right 60%;padding:9px 20px 9px 0;}
li.odd {background-color:#F9F7F0;border-bottom:1px solid #E9E8E5;border-top:1px solid #E9E8E5;}
#pscroller1{width: 200px;height: 100px;border: 1px solid black;padding: 5px;background-color: lightyellow;}
#pscroller2{width: 90%;height: 30px;border: 1px solid #CACACA;padding: 3px; border-right:7px #FF9900 solid}
#pscroller2 a{text-decoration: none;}
#main-container{margin:auto;padding:0;}
#main-content{overflow:hidden;margin-top:1px;text-align:right;padding:0}
.rightc{margin-bottom: -2000px; padding-bottom: 2000px;background:#F9F9F9;float:right;background:#FFFFFF}
.centerc{margin-right:30px;padding-top:10px;margin-bottom: -2000px; padding-bottom: 2000px;float:right;direction:rtl;text-align:right}
.vertmidbar{width:8px;background:#e8e8e6;padding-top:10px;margin-bottom: -2000px; padding-bottom: 2000px;float:right;direction:rtl;text-align:right}
.tpr{background:url(../images/blr.jpg) no-repeat bottom;background-color:#c5c5c5;width:63px;height:144px;float:right}
.tpm{float:right;width:156px}
.tpl{background-color:#c5c5c5;height:144px;float:right;width:783px}
.ltriboximage {border:0 none;float:right;height:94px;margin:15px;padding:0;width:94px;}
.ltriboxitems {border:0 none;height:157px;margin:0;padding:0;}
.ltribox2 {margin:auto;text-align:center;width:450px;margin-top:120px; border:3px solid #C3C3C3;height:159px;padding:0;width:400px;}
.ltriboxtext {border:1px solid; float:right; height:50px; margin:5px 10px 0 0;padding:7px 0 0;width:160px;text-align:right}
.ltriboxitems:hover{}
.ltriboxtexttitle {color:#920001;font-weight:bold;text-decoration:none;}
.ltriboxtexttotal {font-size:95%; border:1px solid #ff00ff; }
.clear{clear:both}
.loginform{margin:10px 0}
.loginform input{border:1px #999999 solid;margin:3px 0;font-family:tahoma;color:#333333}
.footerbox{width:700px; background:#DDDDDD; color:#333333; margin:20px auto;text-align:center;padding:10px;border:1px #888888 solid;font:11px tahoma; letter-spacing:1px}
.messagebox{width:700px; background:#FFFFFF; color:#333333; margin:20px auto;text-align:center;padding:10px;border:0px #888888 solid;font:11px tahoma; letter-spacing:1px}
.total-tab{text-decoration:none;color:#036;display:block;padding:0;}
